In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2020-10-19 20:32:21,22.08,-159.32,82.99,78,75,6.93
1,1,Punta Arenas,CL,2020-10-19 20:35:47,-53.15,-70.92,44.60,65,40,36.91
2,2,Nabire,ID,2020-10-19 20:35:47,-3.37,135.48,75.65,85,100,2.77
3,3,Lompoc,US,2020-10-19 20:35:47,34.64,-120.46,68.00,77,1,13.87
4,4,Namibe,AO,2020-10-19 20:35:45,-15.20,12.15,70.18,72,20,2.59

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds=city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2020-10-19 20:32:21,22.08,-159.32,82.99,78,75,6.93
2,2,Nabire,ID,2020-10-19 20:35:47,-3.37,135.48,75.65,85,100,2.77
12,12,Tomatlan,MX,2020-10-19 20:35:48,19.93,-105.25,89.35,66,13,8.79
24,24,Nkhata Bay,MW,2020-10-19 20:35:50,-11.61,34.29,76.78,61,0,4.21
26,26,Kavaratti,IN,2020-10-19 20:31:59,10.57,72.64,80.74,75,100,11.50
31,31,Pandan,PH,2020-10-19 20:35:51,14.05,124.17,78.84,90,100,4.41
34,34,Mayumba,GA,2020-10-19 20:35:51,-3.43,10.66,77.14,88,100,8.19
38,38,Chirongui,YT,2020-10-19 20:35:52,-12.93,45.15,77.00,83,0,8.05
47,47,Kununurra,AU,2020-10-19 20:31:52,-15.77,128.73,80.60,88,79,3.36
49,49,Atuona,PF,2020-10-19 20:35:53,-9.80,-139.03,78.60,74,0,18.59

In [24]:
preferred_cities_df.count()

City_ID       177
City          177
Country       177
Date          177
Lat           177
Lng           177
Max Temp      177
Humidity      177
Cloudiness    177
Wind Speed    177
dtype: int64

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
0        Kapaa      US     82.99  22.08 -159.32
2       Nabire      ID     75.65  -3.37  135.48
12    Tomatlan      MX     89.35  19.93 -105.25
24  Nkhata Bay      MW     76.78 -11.61   34.29
26   Kavaratti      IN     80.74  10.57   72.64
31      Pandan      PH     78.84  14.05  124.17
34     Mayumba      GA     77.14  -3.43   10.66
38   Chirongui      YT     77.00 -12.93   45.15
47   Kununurra      AU     80.60 -15.77  128.73
49      Atuona      PF     78.60  -9.80 -139.03

In [26]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [29]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kapaa,US,82.99,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
2,Nabire,ID,75.65,-3.37,135.48,Hotel Nusantara Nabire
12,Tomatlan,MX,89.35,19.93,-105.25,Norma franco
24,Nkhata Bay,MW,76.78,-11.61,34.29,Mayoka Village
26,Kavaratti,IN,80.74,10.57,72.64,Hotels in Lakshadweep Islands
31,Pandan,PH,78.84,14.05,124.17,Bonifacio Lodge
34,Mayumba,GA,77.14,-3.43,10.66,LIKWALE LODGE
38,Chirongui,YT,77.00,-12.93,45.15,La Villa Mahatsara
47,Kununurra,AU,80.60,-15.77,128.73,Hotel Kununurra
49,Atuona,PF,78.60,-9.80,-139.03,Villa Enata

In [32]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [35]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))